.gridContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .cardStack {
    position: relative;
    width: 300px; /* Adjust width as needed */
    height: 240px; /* Adjust height as needed */
    margin: 5px 0;
  }
  
  .gridItem {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7; /* Add background color to dummy cards */
    border-radius: 12px; /* Match card's border radius */
  }
  
  .gridItem:hover {
    transform: translateY(-5px);
  }
  